openapi: 3.0.3
info:
  title: drawDB Storage API
  description: |
    REST API consumed by the drawDB editor frontend for server-side project storage.

    **Base URL:** configured in the frontend as `STORAGE_API_URL` in `.env`
    (see `.env.sample`, e.g. `https://api.backend.com`).

    **CORS:** The browser editor calls this API cross-origin. Laravel must allow
    the editor origin and expose `Content-Type`, `Authorization` (if auth is added later).

    **Storage:** Persist each project as a row with metadata (`slug`, `name`, `updated_at`)
    and the diagram JSON (`content`). `GET /api/projects/{slug}` and `PUT` use the
    diagram document as the response/request body directly (not wrapped).

    **Laravel hints:**
    - Generate slugs with `Str::slug($name)`; ensure uniqueness (append `-2`, etc.).
    - Store `content` as JSON column (`json` cast on Eloquent model).
    - `updatedAt` in list responses should be ISO 8601 (e.g. `2026-05-22T14:30:00Z`).

    Tools that can scaffold Laravel from this spec:
    - [L5 Swagger / swagger-php](https://github.com/DarkaOnLine/L5-Swagger) (annotations from spec)
    - [OpenAPI Generator](https://openapi-generator.tech/) (`php-laravel` server stub)
    - Manual: Form Requests + API Resources matching schemas below
  version: 1.0.0
  contact:
    name: drawDB

servers:
  - url: https://api.backend.com
    description: Example from `.env.sample` (`STORAGE_API_URL`)
  - url: http://localhost:8000
    description: Local Laravel

tags:
  - name: Projects
    description: drawDB diagram projects

paths:
  /api/projects:
    get:
      tags: [Projects]
      summary: List saved projects
      operationId: listProjects
      responses:
        "200":
          description: Project list
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: "#/components/schemas/ProjectSummary"
                  - type: object
                    required: [projects]
                    properties:
                      projects:
                        type: array
                        items:
                          $ref: "#/components/schemas/ProjectSummary"
              examples:
                arrayResponse:
                  summary: Preferred — bare array (frontend accepts this)
                  value:
                    - slug: my-database-design
                      name: My database design
                      updatedAt: "2026-05-22T14:30:00.000000Z"
                      database: postgresql
                    - slug: shop-schema
                      name: Shop schema
                      updatedAt: "2026-05-21T09:15:00.000000Z"
                      database: mysql
                wrappedResponse:
                  summary: Also accepted by frontend
                  value:
                    projects:
                      - slug: my-database-design
                        name: My database design
                        updatedAt: "2026-05-22T14:30:00.000000Z"
                        database: postgresql
        "500":
          $ref: "#/components/responses/ServerError"

    post:
      tags: [Projects]
      summary: Create a new project
      operationId: createProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
            example:
              name: My database design
              content:
                title: My database design
                database: postgresql
                tables: []
                relationships: []
                notes: []
                subjectAreas: []
                transform:
                  pan:
                    x: 0
                    y: 0
                  zoom: 1
      responses:
        "201":
          description: Project created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProjectResponse"
              example:
                slug: my-database-design
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/ServerError"

  /api/projects/{slug}:
    parameters:
      - $ref: "#/components/parameters/ProjectSlug"

    get:
      tags: [Projects]
      summary: Load project diagram JSON
      operationId: getProject
      description: |
        Returns the diagram document as the **top-level JSON body** (not wrapped in
        `{ "content": ... }`). The frontend passes this object directly to the editor loader.
      responses:
        "200":
          description: Diagram document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DiagramDocument"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

    put:
      tags: [Projects]
      summary: Save / update project diagram JSON
      operationId: updateProject
      description: |
        Request body is the diagram document itself (same shape as `GET`).
        The frontend sends the full document on every save — replace stored `content`.
        Optionally sync `name` from `title` and bump `updated_at`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiagramDocument"
      responses:
        "200":
          description: Updated (body optional; frontend ignores response body today)
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/DiagramDocument"
                  - $ref: "#/components/schemas/ProjectSummary"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/ServerError"

    delete:
      tags: [Projects]
      summary: Delete a project
      operationId: deleteProject
      description: Frontend defines this method but does not call it from the UI yet.
      responses:
        "204":
          description: Deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"

components:
  parameters:
    ProjectSlug:
      name: slug
      in: path
      required: true
      description: URL-safe unique project identifier
      schema:
        type: string
        pattern: "^[a-z0-9]+(?:-[a-z0-9]+)*$"
      example: my-database-design

  schemas:
    ProjectSummary:
      type: object
      required: [slug, name, updatedAt]
      properties:
        slug:
          type: string
          description: Unique URL segment used in `/editor/server/{slug}`
          example: my-database-design
        name:
          type: string
          description: Human-readable project name (shown in open dialog)
          example: My database design
        updatedAt:
          type: string
          format: date-time
          description: ISO 8601 timestamp (frontend parses with Luxon `fromISO`)
          example: "2026-05-22T14:30:00.000000Z"
        database:
          type: string
          description: Optional; shown in list UI if present
          enum:
            - mysql
            - postgresql
            - transactsql
            - sqlite
            - mariadb
            - oraclesql
            - generic
          example: postgresql

    CreateProjectRequest:
      type: object
      required: [name, content]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Project display name; Laravel should derive `slug` from this
          example: My database design
        content:
          $ref: "#/components/schemas/DiagramDocument"

    CreateProjectResponse:
      type: object
      required: [slug]
      properties:
        slug:
          type: string
          description: Generated unique slug; frontend navigates to `/editor/server/{slug}`
          example: my-database-design

    DiagramDocument:
      type: object
      description: |
        drawDB share/export JSON format. Stored as the project `content` column.
        Same structure used by gist sharing (`share.json`).
      required:
        - tables
        - relationships
        - notes
        - subjectAreas
      properties:
        title:
          type: string
          description: Diagram title (usually matches project `name`)
          example: My database design
        database:
          type: string
          description: Active database dialect in the editor
          enum:
            - mysql
            - postgresql
            - transactsql
            - sqlite
            - mariadb
            - oraclesql
            - generic
          example: postgresql
        tables:
          type: array
          items:
            $ref: "#/components/schemas/Table"
        relationships:
          type: array
          items:
            $ref: "#/components/schemas/Relationship"
        notes:
          type: array
          items:
            $ref: "#/components/schemas/Note"
        subjectAreas:
          type: array
          description: Subject area boxes on the canvas (internal name `areas` in IndexedDB)
          items:
            $ref: "#/components/schemas/SubjectArea"
        types:
          type: array
          description: Present when database supports custom types (e.g. PostgreSQL)
          items:
            $ref: "#/components/schemas/CustomDbType"
        enums:
          type: array
          description: Present when database supports enums
          items:
            $ref: "#/components/schemas/EnumDefinition"
        customTypes:
          type: object
          description: User-defined field types keyed by database label, then type name
          additionalProperties:
            type: object
            additionalProperties:
              $ref: "#/components/schemas/CustomTypeEntry"
          example:
            postgresql:
              CITEXT:
                type: CITEXT
                color: "#6366f1"
        transform:
          $ref: "#/components/schemas/CanvasTransform"
      additionalProperties: true

    CanvasTransform:
      type: object
      required: [pan, zoom]
      properties:
        pan:
          type: object
          required: [x, y]
          properties:
            x:
              type: number
            y:
              type: number
        zoom:
          type: number
          example: 1

    Table:
      type: object
      required: [id, name, x, y, fields, comment, indices, color]
      properties:
        id:
          oneOf:
            - type: integer
            - type: string
        name:
          type: string
        x:
          type: number
        y:
          type: number
        fields:
          type: array
          items:
            $ref: "#/components/schemas/TableField"
        comment:
          type: string
        locked:
          type: boolean
        hidden:
          type: boolean
        collapsed:
          type: boolean
        indices:
          type: array
          items:
            $ref: "#/components/schemas/TableIndex"
        color:
          type: string
          pattern: "^#[0-9a-fA-F]{6}$"
        inherits:
          type: array
          items:
            type: string

    TableField:
      type: object
      required:
        - id
        - name
        - type
        - default
        - check
        - primary
        - unique
        - notNull
        - increment
        - comment
      properties:
        id:
          oneOf:
            - type: integer
            - type: string
        name:
          type: string
        type:
          type: string
        default:
          oneOf:
            - type: string
            - type: number
            - type: boolean
        check:
          type: string
        primary:
          type: boolean
        unique:
          type: boolean
        notNull:
          type: boolean
        increment:
          type: boolean
        comment:
          type: string
        size:
          oneOf:
            - type: string
            - type: number
        values:
          type: array
          items:
            type: string

    TableIndex:
      type: object
      required: [name, unique, fields]
      properties:
        name:
          type: string
        unique:
          type: boolean
        fields:
          type: array
          items:
            type: string

    Relationship:
      type: object
      required:
        - id
        - name
        - startTableId
        - startFieldId
        - endTableId
        - endFieldId
        - cardinality
        - updateConstraint
        - deleteConstraint
      properties:
        id:
          oneOf:
            - type: integer
            - type: string
        name:
          type: string
        startTableId:
          oneOf:
            - type: integer
            - type: string
        startFieldId:
          oneOf:
            - type: integer
            - type: string
        endTableId:
          oneOf:
            - type: integer
            - type: string
        endFieldId:
          oneOf:
            - type: integer
            - type: string
        cardinality:
          type: string
        updateConstraint:
          type: string
        deleteConstraint:
          type: string

    Note:
      type: object
      required: [id, x, y, title, content, color, height]
      properties:
        id:
          type: integer
        x:
          type: number
        y:
          type: number
        title:
          type: string
        content:
          type: string
        color:
          type: string
          pattern: "^#[0-9a-fA-F]{6}$"
        height:
          type: number
        width:
          type: number
        locked:
          type: boolean

    SubjectArea:
      type: object
      required: [id, name, x, y, width, height, color]
      properties:
        id:
          type: integer
        name:
          type: string
        x:
          type: number
        y:
          type: number
        width:
          type: number
        height:
          type: number
        color:
          type: string
          pattern: "^#[0-9a-fA-F]{6}$"
        locked:
          type: boolean

    CustomDbType:
      type: object
      required: [name, fields, comment]
      properties:
        id:
          type: string
        name:
          type: string
        fields:
          type: array
          items:
            type: object
            required: [name, type]
            properties:
              id:
                type: string
              name:
                type: string
              type:
                type: string
              values:
                type: array
                items:
                  type: string
        comment:
          type: string

    EnumDefinition:
      type: object
      required: [name, values]
      properties:
        id:
          type: string
        name:
          type: string
        values:
          type: array
          items:
            type: string

    CustomTypeEntry:
      type: object
      required: [type, color]
      properties:
        type:
          type: string
        color:
          type: string

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

  responses:
    NotFound:
      description: Project not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: Project not found

    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: The given data was invalid.
            errors:
              name:
                - The name field is required.

    ServerError:
      description: Server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
          example:
            message: Server Error

  # Uncomment when Laravel admin adds authentication
  # securitySchemes:
  #   bearerAuth:
  #     type: http
  #     scheme: bearer
  #     bearerFormat: Sanctum

# security:
#   - bearerAuth: []
